# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.ko

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.lib
*.a
*.la

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin

# Debug files
*.dSYM
*.su
*.idb
*.pdb

# Emacs related
*.~undo-tree

# Backup files
*~
.#.*

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
share/python-wheels/
wheels/
*.egg-info/
.installed.cfg
.egg
MANIFEST


# Misc
pkg
